<div class="contenedor text-white fuente">
    <div class="container d-flex justify-content-center">
        <div class="row row-cols-sm-1 cardNeyder d-flex justify-content-center" *ngFor="let item of dataProfile$ | async">
            <div class="col-lg-6 col-sm-12" style="text-align: center;"><!-- foto -->
                <img class="rounded-circle border border-white" width="70%" height="100%" [src]="item.imgProfile" [alt]="item.imgProfile">
            </div>
            <div class="col-lg-6 col-sm-12 text-data">
                <div class="row"><!-- name -->
                    <div class="col-sm-12">{{item.name}} </div>
                </div>
                <div class="row"><!-- age && cellphone -->
                    <div class="col-sm-6">Age: {{item.age}}</div>
                    <div class="col-sm-6">Tel: {{item.cellphone}}</div>
                </div>
                <div class="row"><div class="col-sm-12">@ - {{item.email1}} </div></div><!-- emails -->
                <div class="row"><div class="col-sm-12">@ - {{item.email2}} </div></div>
                <div class="row"><!-- city && departament -->
                    <div class="col-sm-12">{{item.city}} - {{item.department}} </div>
                </div>
                <div class="row">
                    <div class="icons_contact col-12 col-sm-12 d-flex justify-content-end">
                        <p>contact me</p>
                        <a target="_blank" href="https://wa.link/h18337"><i class="bi bi-whatsapp"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/neider-neme-virg%C3%BCez-7860801a5/"><i class="bi bi-linkedin"></i></a>
                        <a target="_blank" href="https://www.instagram.com/domador.de.gatos/"><i class="bi bi-instagram"></i></a>
                        <a target="_blank" href="https://web.facebook.com/domadorofcats/"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>