.contenedor{
    background: #190649;
}
.container{
  padding-top: 0 !important;
}
.fuente{
    font-family: 'Manrope', sans-serif;
  }
  .cardNeyder{
    //border: solid 1px white;
    padding: 2rem 0 2rem 0;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    width: 70%;
    height: fit-content;
    font-size: 1.3rem;
    background: linear-gradient(-45deg,
    #ffffff, #0088bc, #004283, #478aff, #ffca28);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    border-radius: 25px;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  .container{
    padding-top: 2rem;
  }
  .text-data{
    text-align: end;
  }
  .text-data{
    padding: 3rem 4rem 0 0; 
  }
  a{
    text-decoration: none;
    animation: none;
    color: white;
    padding-left: 0.7rem;
  }
  @media (max-width: 575.98px) {
    .cardNeyder{width: 95%;}
    .text-data{padding: 2rem 1rem 0 0; text-align: center !important;}
    .icons_contact{text-align: center !important;}
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .cardNeyder{width: 85%;}
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .title_awards{margin-top: 1rem !important;}
    .text_center{text-align: center !important;}
    .text-data{padding: 2rem 1rem 0 0;}
  }