@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;900&display=swap');


.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}

label{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  margin-right: 2%;
  border-radius: 1em;
  font-size: .75rem;
}

/* .tag + .tag {
  margin-left: .5em;
} */

.tag-brown {
  background: #f7a10f;
background: linear-gradient(to bottom, #f7c52c, #f7a10f);
  color: #fafafa;
}
.tag-php {
  background: #7377ad;
background: linear-gradient(to bottom, #a3a7dd, #7377ad);
  color: #fafafa;
}
.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}
.tag-boo {
  background: #8011f5;
background: linear-gradient(to bottom, #a45bf1, #8011f5);
  color: #fafafa;
}
.tag-sql {
  background: #dd8a00;
background: linear-gradient(to bottom, #e4b05d, #dd8a00);
  color: #fafafa;
}
.tag-htm {
  background: #dd4b25;
background: linear-gradient(to bottom, #e87425, #dd4b25);
  color: #fafafa;
}
.tag-ionic {
  background: #367cf7;
background: linear-gradient(to bottom, #4c8bef, #367cf7);
  color: #fafafa;
}
.tag-api {
  background: #6bdcb3;
background: linear-gradient(to bottom, #ceebe0, #6bdcb3);
  color: #fafafa;
}
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image, i {
  border-radius: 50%;
  width: 20%;
  cursor: pointer;
}

.user__info > small {
  color: #666;
}