<div class="container">
    <div class="row">
        <div class="mt-3 col-12 d-flex justify-content-center" data-aos="fade-down" data-aos-duration="1500">
            <label><b>Passion to create</b></label>
        </div>
    </div>
    <div class="row texto-bibli">
        <div class="col-xxl-4 col-xl-4 col-lg-7" data-aos="fade-right" data-aos-duration="1500">
            <div class="row">
                <div class="col" style="color: #807777;"><b>BIOGRAPHY</b></div>
            </div>
            <div class="row">
                <div class="col">
                    Hola! soy un desarrollador apasionado por crear proyectos nuevos y funcionales, me gustan los retos
                    y poder aprender constantemente de los diferentes obstaculos de una creación, esto me permite crecer
                    como desarollador y persona al saber afrontar cualquier situacion de estres o presion.
                </div>
            </div>
            <div class="row">
                <div class="mt-3 col">
                    Me gusta y trabajo muy bien en equipo para la creacion de proyectos y entregas oportunas, doy lo
                    mejor o apoyo a los demas con el fin de destacar como equipo y lograr las metas proyectadas, soy
                    atento puntual y serivicial en todo momento.
                </div>
            </div>
            <div class="row">
                <div class="mt-3 col">
                    En mis tiempos libres me gusta visitar empresas como cliente y ver las posibles dificuldades a las
                    que se enfrentan al no depende de sistemas que automaticen las tareas, esto me ha permitido crear
                    programas que se ajustan a las necesitas actuales, y poder distribuirlos a las diferentes empresas
                    que pasan por situaciones similares.
                </div>
            </div>
            <div class="row">
                <div class="mt-3 col">
                    Algunos de mis pasatiempos son dibujar retratos de personas famosos y crear liensos a blanco y
                    negro, los largos tiempos de concentracion me permiten analizar proyectos futuros y actuales,
                    pudiendo llegar a conclusiones de forma mas rapida sobre problemas que afronte actualmente en un
                    proyecto o tener un avace para rapido en futuros. Practico juegos de mesa de estrategia que me
                    permiten modelar y cambiar mi forma de pensar sobre como abordar problemas y trabajar de diferentes
                    formas como equipo para poder solucionar problemas.
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-5"
            style="display: flex; align-items: flex-start; justify-content: center;">
            <img style="border-radius: 50%; width: 80%;" data-aos="fade-up" data-aos-duration="3000" class="mt-2 mx-3"
                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/courses%2F1672149647006.jpg?alt=media&token=f48addd6-77e5-454e-bb1c-b8e4ddf5fcc4">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-12 text-end puntaje justify-content-lg-center" data-aos="fade-left" data-aos-duration="1500">
            <div class="row mt-lg-5 mt-md-5 mt-sm-5 mt-5 mt-xl-0 mt-xxl-0">
                <div class="col">
                    <label class="col-12 giant">6+</label>
                    <label class="col-12 text-etiqueta">Satisfied Clients</label>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <label class="col-12 giant">11+</label>
                    <label class="col-12 text-etiqueta">Projects Completed</label>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <label class="col-12 giant">5+</label>
                    <label class="col-12 text-etiqueta">Years Experience</label>
                </div>
            </div>
        </div>
    </div>
</div>
<app-skills></app-skills>

<app-experience></app-experience>