.style{
    color: white;
}
.work_r{
    margin-top: 0.5rem;
}
.raya{
    border-bottom: 8px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}
.fuente{
    font-family: 'Manrope', sans-serif;
  }