<div class="mt-5">
    <div class="container">
        <div class="row d-flex">
            <div class="col-sm-5">
                <img src='https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fwork.png?alt=media&token=a6881f6c-e74c-4ab3-8ae9-16932f57b055' alt="una imagen" class="" width="350" height="300">
            </div>
            <div class="col-sm-7 d-flex align-items-center">
                <div class="contenedor">
                    <h2 class="style raya fuente animate__bounceInRight animate__animated" style="font-size: 3rem;">Work Experience</h2>
                    <span class="style fuente animate__bounceInRight animate__animated animate__delay-1s">Actualmente Ingeniero de apoyo en comunicaciones - Docente de Tecnología</span>
                    <div class="row work_r">
                        <div class="col-sm-1 style animate__bounceInRight animate__animated animate__delay-1s"><img width="30" height="30"
                                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fa091344b20e578bdac557b5ca8db4909.gif?alt=media&token=a5d8da02-5455-469d-b1ad-a44a6f1a541d"
                                alt=""></div>
                        <div class="col-sm-11 style fuente animate__bounceInRight animate__animated animate__delay-1s">Freelancer - (3 años)</div>
                    </div>
                    <div class="row work_r">
                        <div class="col-sm-1 style animate__bounceInRight animate__animated animate__delay-1s"><img width="40" height="30"
                                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2FSMART.png?alt=media&token=c3fa858c-f27c-4329-91d8-3a117dd0fadf"
                                alt=""></div>
                        <div class="col-sm-11 style"><p class="fuente animate__bounceInRight animate__animated animate__delay-1s">Ingeniero apoyo comunicaciones Consorcio Smart Grid Casanare en Yopal Casanare - (2 años)</p></div>
                    </div>
                    <div class="row work_r">
                        <div class="col-sm-1 style animate__bounceInRight animate__animated animate__delay-1s"><img width="35" height="30"
                                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2FLogo_simbolo-02.png?alt=media&token=04ce1d02-3c94-48b9-bd0b-10ace0729ff5"
                                alt=""></div>
                        <div class="col-sm-11 style fuente animate__bounceInRight animate__animated animate__delay-1s">Docente de Programacion, Electronica e Informatica en el Colegio San Mateo Apostol- (8 años)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>