.style{
    color: white;
}
.work_r{
    margin-top: 0.5rem;
}
.raya{
    border-bottom: 8px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}
.fuente{
    font-family: 'Manrope', sans-serif;
  }
  @media (max-width: 575.98px) {
    .img1{display: none;}
    h2{text-align: center; font-size: 1.5rem !important; padding-top: 1rem !important;}
    .c_principal{margin-top: 0px !important;}
    .raya{border-bottom: 3px solid white !important ;}
    .contenedor{text-align: center;}
  }