<div class="row w-100">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 pt-4 d-flex justify-content-around justify-content-sm-center menu">
            <nav>
                <a routerLink="home" routerLinkActive=""><b>Home</b></a>
                <a routerLink="about" routerLinkActive=""><b>About</b></a>
                <a routerLink="projects" routerLinkActive=""><b>Projects</b></a>
                <a routerLink="studies" routerLinkActive=""><b>Studies</b></a>
                <div id="indicator"></div>
            </nav>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="flex-center pt-2">
                <a target="_blank" href="https://github.com/domadordegatos"><i style="color: #24292F;" class="fa fa-github fa-2x icon-3d"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/neider-neme-virg%C3%BCez-7860801a5/"><i style="color: #24292F;" class="fa fa-linkedin-square fa-2x icon-3d"></i></a>
                <a target="_blank" href="https://web.facebook.com/domadorofcats/"><i style="color: #24292F;" class="fa fa-facebook fa-2x icon-3d"></i></a>
                <a target="_blank" href="ttps://www.instagram.com/domador.de.gatos/"><i style="color: #24292F;" class="fa fa-instagram fa-2x icon-3d"></i></a>
                <a target="_blank" href="https://wa.link/h18337"><i style="color: #24292F;" class="fa fa-whatsapp fa-2x icon-3d"></i></a>
              </div>
        </div>
    </div>