<h1 class="my-3 mb-5 pb-5"  data-aos="fade-up" data-aos-duration="1500">Studies</h1>
<ul class="mb-5 pb-5"  data-aos="fade-up" data-aos-duration="1500">
    <li style="--accent-color:#15406a">
        <div class="date">2020</div>
        <div class="title">Ingenieria de Sistemas</div>
        <div class="descr">Fundacion universitaria de San Gil - UNISANGIL</div>
    </li>
    <li style="--accent-color:#a44d84">
        <div class="date">2022</div>
        <div class="title">Especializacion en Ciberseguridad</div>
        <div class="descr">Universidad Autónoma del Occidente - UAO</div>
    </li>
    <li style="--accent-color:#25b09b">
        <div class="date">2022</div>
        <div class="title">Tecnico progresional en Programacion</div>
        <div class="descr">Universidad Autónoma de Bucaramanga - UNAB</div>
    </li>
    <li style="--accent-color:#481759">
        <div class="date">2012</div>
        <div class="title">Tecnico en Sistemas</div>
        <div class="descr">Institución educativa Luis Hernandez Vargas</div>
    </li>
    <li style="--accent-color:#175381">
        <div class="date">2012</div>
        <div class="title">Tecnico en manteninimiento de equipos de computo</div>
        <div class="descr">Servicio Nacional de Aprendizaje - SENA</div>
    </li>
    <li style="--accent-color:#25b09b">
        <div class="date">2013</div>
        <div class="title">Tecnico en electricidad residencial</div>
        <div class="descr">Servicio Nacional de Aprendizaje - SENA</div>
    </li>
</ul>

<app-courses></app-courses>