<div class="contenedor w-100">

    <div class="row imagen mt-sm-5 mb-sm-3 w-100">
        <div class="col-xxl-6 col-xl-6 col-lg-4 col-md-4 d-flex justify-content-center container">
            <img style="border-radius: 50%;" class="mx-3 animate__backInLeft animate__animated anphoto profile animate__delay-1s" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/courses%2F1672149647006.jpg?alt=media&token=f48addd6-77e5-454e-bb1c-b8e4ddf5fcc4">
        </div>

        <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-7 pb-xxl-0 pb-xl-0 pb-lg-0 pb-md-0 pb-5 pb-sm-5 data d-flex justify-content-center  align-items-center  animate__animated animate__slideInDown">
            <div class="elements">
                <div class="row justify-content-sm-center justify-content-center">
                    <div class="col-sm-9 col-10 name">Neider Neme Virgüez | Web Developer</div>
                </div>
                <div class="row justify-content-sm-center justify-content-center">
                    <div class="col-sm-9 col-10 ">
                        Ingeniero de Sistemas y Especialista en Ciberseguridad; desarrollador Web y modelador de bases de datos, diseño software a la medida de las necesidades actuales por medio de frameworks como Angular y bases de datos si/no relacionales.
                    </div>
                </div>
                <div class="row mt-3  justify-content-sm-center justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-sm-4 col-4" style="padding-right: 0px !important;">
                        <a class="btn btn-outline-dark px-4" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/HOJA%20DE%20VIDA%20NEYDER%20NEME-%20TECNOLOGIA.pdf?alt=media&token=e7ec77df-4baa-48db-81a1-b68358b1f3fb">
                            <b>Summary</b>
                            <i class="fa fa-file-pdf-o mx-2" aria-hidden="true" style="margin-right: 0px !important;"></i>
                        </a>
                    </div>
                    <div class="col-xxl-2 col-xl-4 col-sm-4 col-4 d-flex align-items-center contact">
                        <a class="" href="mailto:creacionysoporte@gmail.com" style="color: black;">Conctact</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-12">
            <app-buble class=" animate__backInLeft animate__animated buble"></app-buble> 
        </div>

    </div>
    


</div>