<div class="contenedor w-100">

    <div class="row w-100 imagen">
        <div class="col-6 w-50 d-flex justify-content-center container">
            <img style="border-radius: 50%;" width="50%" class="mx-3 animate__backInLeft animate__animated anphoto profile animate__delay-1s" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/courses%2F1672149647006.jpg?alt=media&token=f48addd6-77e5-454e-bb1c-b8e4ddf5fcc4">
        </div>

        <div class="col-6 d-flex justify-content-center  align-items-center  animate__animated animate__slideInDown">
            <div class="elements">
                <div class="row">
                    <div class="col name">Neider Neme Virgüez | Web Developer</div>
                </div>
                <div class="row">
                    <div class="col-9">
                        Ingeniero de Sistemas y Especialista en Ciberseguridad; desarrollador Web y modelador de bases de datos, diseño software a la medida de las necesidades actuales por medio de frameworks como Angular y bases de datos si/no relacionales.
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3" style="padding-right: 0px !important;">
                        <button class="btn btn-outline-dark px-4">
                            <b>Summary</b>
                            <i class="fa fa-file-pdf-o mx-2" aria-hidden="true" style="margin-right: 0px !important;"></i>
                        </button>
                    </div>
                    <div class="col-2 d-flex align-items-center" style="padding-left: 0px !important;">
                        <a class="" href="" style="color: black;">Conctact</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <app-buble class=" animate__backInLeft animate__animated buble"></app-buble> 
        </div>

    </div>
    


</div>