.swim{
    background: #0088bc;
}
.raya{
    border-bottom: 8px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}
code{
    color: yellow;
}
.fuente{
    font-family: 'Manrope', sans-serif;
  }