.swim{
    background: #175381;
}
.raya{
    border-bottom: 8px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.fuente{
    font-family: 'Manrope', sans-serif;
  }
  code{
    color: yellow;
  }
  @media (max-width: 575.98px) {
    .text_end{text-align: end !important;}
    .text_start{text-align: left !important;}
    .text-center{text-align: center !important;}
    .text-start{text-align: center !important;}
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .title_awards{margin-top: 1rem !important;}
    .text_center{text-align: center !important;}
  }
