.swim{
    background: #190649;
}
.raya{
    border-bottom: 8px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.fuente{
    font-family: 'Manrope', sans-serif;
  }
  code{
    color: yellow;
  }