<div class="row d-flex text-white mt-4 contenedor">
    <div class="col-lg-7 fuente" style="text-align: center;">
        <h2 class="animate__backInLeft animate__animated " style="margin-top: 5%; font-size: 3rem; width: auto;"><b>Personal Profile</b></h2>
        <p class="animate__backInLeft animate__animated " style="text-align: center; font-size: 1.5rem;">Desarrollador Web, Ingeniero de sistemas, Docente de programación y electronica,
            soy extremadamente puntual,
            comprometido con dar resultados, honesto, servicial y siempre dispuesto a superarme a mi
            mismo.
        </p>
        <h3 class="animate__backInLeft animate__animated">Neider Neme Virgüez</h3>
        <div class="row icons">
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an1 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fhtml.png?alt=media&token=70e5b0c1-56a0-4efc-95c7-4bed89c42395">
            </div>
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an2 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fcss.png?alt=media&token=6225e3f9-966e-44b2-bc69-b45682b306ac">
            </div>
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an3 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fjs.png?alt=media&token=8885b7c0-6826-4466-b45f-efd6fbd2639c">
            </div>
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an4 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fangul.png?alt=media&token=eb0fe3fe-f38a-4cb6-8158-2b2e73648b7a">
            </div>
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an5 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Ffire.png?alt=media&token=b1c055aa-9069-46cb-9216-33ed38cad57d">
            </div>
            <div class="col-md-2 col mt-3">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an6 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fionic.png?alt=media&token=37a76a04-0e52-48a0-a979-8b37a4e8420b">
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-md-2 mt-2 d-flex justify-content-center align-items-center">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an7 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Farduin.png?alt=media&token=58240fbb-95b1-4f1e-8e86-13e29be9118c">
            </div>
            <div class="col col-md-2 mt-2 d-flex justify-content-center align-items-center">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an8 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fmysql.png?alt=media&token=65a8a7a6-08b3-4e79-a187-ef1568e743f1">
            </div>
            <div class="col col-md-2 mt-2">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an9 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fc%2B%2B.png?alt=media&token=87b06a8a-e402-470c-a339-e5f71c8261cf">
            </div>
            <div class="col col-md-2 mt-2 d-flex justify-content-center align-items-center">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an10 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2Fnode.png?alt=media&token=c65ff522-4d4b-438a-bc20-baea3597b8b1">
            </div>
            <div class="col col-md-2 mt-2 d-flex justify-content-center align-items-center">
                <img height="auto" width="100%" class="img_convert animate__animated animate__fadeInUp an11 img_logos" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/logos_lenguajes%2FPHP-logo.svg.png?alt=media&token=42861fd0-ffba-45cb-bfd1-53b8d018d70f">
            </div>
        </div>
    </div>
    <div class="col-lg-5 d-flex align-items-center">
        <div class=" d-flex justify-content-center">
            <img class="animate__backInLeft animate__animated anphoto profile animate__delay-1s" style="margin: 0px; padding: 0px; border-radius: 50%;"
                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/courses%2F1672149647006.jpg?alt=media&token=f48addd6-77e5-454e-bb1c-b8e4ddf5fcc4">
        </div>
    </div>
</div>