<div class="row d-flex text-white mt-4 contenedor">
    <div class="col-sm-7" style="text-align: center;">
        <h2 style="margin-top: 5%; font-size: 3rem; width: auto;">Personal Profile</h2>
        <p style="text-align: center; font-size: 1.5rem;">Desarrollador Web, Ingeniero de sistemas, Docente de programación y electronica,
            soy extremadamente puntual,
            comprometido con dar resultados, honesto, servicial y siempre dispuesto a superarme a mi
            mismo.
        </p>
        <h3>Neider Neme Virgüez</h3>
        <div class="row">
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2F174854.png?alt=media&token=e8aff007-17c9-41c8-b4a4-9358e1f044d8">
            </div>
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2F732190.png?alt=media&token=d3a166ce-9c5f-4e40-b071-719d09beeb0a">
            </div>
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2F1200px-Javascript-shield.svg.png?alt=media&token=5a900239-a4f7-4de1-a2c9-c2a29b1a821f">
            </div>
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fangular-icon-logo.png?alt=media&token=c5ef17dc-6113-4e06-9694-0abeafb0a1f5">
            </div>
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Ffirebase-3521427-2944871.png?alt=media&token=4b2bc4ed-a03c-4492-8314-b20f4df547ce">
            </div>
            <div class="col-sm-2 mt-3">
                <img width="50%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fionic.png?alt=media&token=aa143b79-0f2c-43e7-90eb-fece9796d8da">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 mt-3">
                <img width="30%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Farduino-logo-1.png?alt=media&token=8bdc261e-392e-4a7c-87c0-685f54865663">
            </div>
            <div class="col-sm-3 mt-3">
                <img width="30%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2F919836.png?alt=media&token=08064b77-2816-4771-8df4-563b99220967">
            </div>
            <div class="col-sm-3 mt-3">
                <img width="30%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2F1200px-ISO_C%2B%2B_Logo.svg.png?alt=media&token=f5039272-07bd-4fcb-ba69-c61182161266">
            </div>
            <div class="col-sm-3 mt-3">
                <img width="30%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fnode.png?alt=media&token=c3eea756-0f89-477a-b3de-07d19c758ddd">
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="hp-imagen circular">
            <img class="profile" style="margin: 0px; padding: 0px;"
                src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2FIMG_20211221_100144-modified.png?alt=media&token=b5a34b4f-e2e1-4563-babd-58dfca07102d"
                alt="">
        </div>
    </div>
</div>