<div class="container">
    <div class="row text-white m-auto">
        <div class="col-lg-9 col-sm-12">
            <h2 class="title_edu fuente" style="font-size: 3rem;"><b> Education</b></h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Ingeniero De Sistemas
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    <strong>Fundación Universitaria de San Gil
                                        Unisangil</strong><code> Septiembre 2020</code> Como tesis de grado, desarrolle un sistema de
                                        control de ingreso de usuarios para el nuevo edificio de la universidad <code>centuria.</code> Un sistema
                                        unido entre hardware y software que al llenar una breve encuesta permite el ingreso al edificio abriendo la
                                        cerradura,
                                        con el fin de realizar un seguimiento detallado del uso de cada area del edificio, el sistema
                                        requiere escaneo del carnet universitario, permite el registro de primiparos y carga la información de usuarios
                                        antiguos, en una breve encuesta interactiva a traves de input radios le permite al usuario escoger las
                                        actividades que va a realizar, todo el subido a una base de datos con motor SQL, esta información permite
                                        realizar un análisis profundo de la prioridad e importancia de cada area y aspectos a mejorar en llegado caso
                                        un item tenga un alto nivel de visitas pero este no cuente con la cantidad suficiente para la demanda.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Especialista en Ciberseguridad
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    <strong>Universidad Autónoma del Occidente</strong> <code> en curso</code> 
                                    Por medio del programa <code>Un ticket para el futuro</code> logre recibir una beca del 90% para estudiar 
                                    una especialización o maestría, siguiendo mi linea y gusto por aprender tome esta area en la cual llevo un
                                    promedio excelente y finalizare este 2022 en diciembre.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Tecnólogo en Programación
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    <strong>Unab</strong> <code> en curso</code> 
                                    Por medio del programa <code>Misión Tic</code> logre recibir una beca del 100% para estudiar programación
                                    desde sus fundamentos hasta la aplicación, 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="accordion" id="accordionExampleb">
                        <div class="accordion-item encoger_tec">
                            <h2 class="accordion-header" id="headingOneb">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOneb" aria-expanded="false" aria-controls="collapseOneb">
                                    Técnico en Sistemas
                                </button>
                            </h2>
                            <div id="collapseOneb" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingOneb" data-bs-parent="#accordionExampleb">
                                <div class="accordion-body text-justify" style="text-align: justify;">
                                    <strong>I.E. LUIS HERNANDEZ VARGAS</strong><code> Diciembre 2012</code> 
                                    Gracias a la técnica de ultimo año ofrecida por la institucion en sistemas con certificado del SENA, logre salir como uno de los
                                    mejores de la promoción.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwob">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwob" aria-expanded="false" aria-controls="collapseTwob">
                                    Técnico en Electricidad Residencial
                                </button>
                            </h2>
                            <div id="collapseTwob" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingTwob" data-bs-parent="#accordionExampleb">
                                <div class="accordion-body" style="text-align: justify;">
                                    <strong>SENA </strong> <code> No finalizada </code>
                                    Durante el año 2013 realice mis estudios como eléctrico, donde lastimosamente no me fue posible finalizar 
                                    la técnica, aunque termine el 100% practico y teórico con notas excelentes,
                                     senti que el profesor que me asignaron fue mediocre y nunca dio el máximo de si mismo y tampoco
                                    nos los exigió a nosotros.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThreeb">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThreeb" aria-expanded="false" aria-controls="collapseThreeb">
                                    Técnico en Mantenimiento de Equipos de Computo
                                </button>
                            </h2>
                            <div id="collapseThreeb" class="accordion-collapse collapse" aria-labelledby="headingThreeb"
                                data-bs-parent="#accordionExampleb">
                                <div class="accordion-body text-dark" style="text-align: justify;">
                                    <strong>I.E. LUIS HERNANDEZ VARGAS - SENA</strong><code> Diciembre 2012</code> 
                                    Gracias a la técnica de ultimo año ofrecida por la institucion en sistemas con certificado del SENA
                                    , logre salir como uno de los mejores de la promoción.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 container_img">
            <img class=" img_edu" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fbanner.png?alt=media&token=391ae269-20ce-4aca-90da-17b22a19fcb2"
                width="300" height="300">
        </div>
    </div>
</div>