<div class="container">
    <div class="row text-white m-auto">
        <div class="col-sm-9">
            <h2>Education</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Ingeniero De Sistemas
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Fundación Universitaria de San Gil
                                        Unisangil</strong><code> Septiembre 2020</code> It is shown by default, until
                                    the
                                    collapse plugin adds the appropriate classes that we use to style each element.
                                    These
                                    classes control the overall appearance, as well as the showing and hiding via CSS
                                    transitions. You can modify any of this with custom CSS or overriding our default
                                    variables. It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Especialista en Ciberseguridad
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding
                                    via CSS transitions. You can modify any of this with custom CSS or overriding our
                                    default variables. It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="accordion" id="accordionExampleb">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOneb">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOneb" aria-expanded="false" aria-controls="collapseOneb">
                                    Tecnico en Sistemas
                                </button>
                            </h2>
                            <div id="collapseOneb" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingOneb" data-bs-parent="#accordionExampleb">
                                <div class="accordion-body">
                                    <strong>Fundacion Universitaria de San Gil
                                        Unisangil</strong><code> Septiembre 2020</code> It is shown by default, until
                                    the
                                    collapse plugin adds the appropriate classes that we use to style each element.
                                    These
                                    classes control the overall appearance, as well as the showing and hiding via CSS
                                    transitions. You can modify any of this with custom CSS or overriding our default
                                    variables. It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwob">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwob" aria-expanded="false" aria-controls="collapseTwob">
                                    Tecnico en Electricidad Residencial
                                </button>
                            </h2>
                            <div id="collapseTwob" class="accordion-collapse collapse text-dark"
                                aria-labelledby="headingTwob" data-bs-parent="#accordionExampleb">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding
                                    via CSS transitions. You can modify any of this with custom CSS or overriding our
                                    default variables. It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThreeb">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThreeb" aria-expanded="false" aria-controls="collapseThreeb">
                                    Tecnico en Mantenimiento de Equipos de Computo
                                </button>
                            </h2>
                            <div id="collapseThreeb" class="accordion-collapse collapse" aria-labelledby="headingThreeb"
                                data-bs-parent="#accordionExampleb">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until
                                    the collapse plugin adds the appropriate classes that we use to style each element.
                                    These classes control the overall appearance, as well as the showing and hiding via
                                    CSS
                                    transitions. You can modify any of this with custom CSS or overriding our default
                                    variables. It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fbanner.png?alt=media&token=391ae269-20ce-4aca-90da-17b22a19fcb2"
                width="400" height="300">
        </div>
    </div>
</div>