.accordion-item{
    margin: 20px 0 20px 0;
    border-radius: 8px;
}
.accordion-button{
    border-radius: 8px;
}
.fuente{
    font-family: 'Manrope', sans-serif;
  }
  @media (max-width: 575.98px) {
    .title_edu{font-size: 1.5rem !important; text-align: center; margin-top: 1rem;}
    .encoger_tec{margin-top: 0px !important;}
    .img_edu{display: none !important;}
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .title_edu{font-size: 2rem !important; margin-top: 1rem;}
    .container_img{display: flex; justify-content: center; align-items: center;}
    .img_edu{width: 90%; height: 60%;}
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .title_edu{font-size: 2rem !important; text-align: center; margin-top: 1rem;}
    .img_edu{display: none !important;}
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .title_edu{font-size: 2rem !important; text-align: center; margin-top: 1rem;}
    .img_edu{display: none !important;}
  }