.fuente{
    font-family: 'Manrope', sans-serif;
  }
  i{
    cursor: pointer;
  }
  .container{
      font-family: 'Manrope', sans-serif;
  }
  .bi{
    animation: none;
    text-decoration: none;
    color: white;
  }