<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 d-flex align-items-center">
            <div class="contenedor" style="text-align: center;">
                <h2 class="text-white fuente" style="font-size: 3rem;"><b>Proyects</b></h2>
                <svg style="color: #d63384;" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                  </svg>
            </div>
        </div>
        <div class="col-sm-10 px-4">
            <div class="row text-white">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 pb-4 text-white d-flex justify-content-center">
                            <img width="10%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2Fangular-icon-logo.png?alt=media&token=c5ef17dc-6113-4e06-9694-0abeafb0a1f5" alt="">
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of ang$ | async; index as i">
                        <div class="col-sm-10">
                            <li>{{item.title}}</li>
                        </div>
                        <div class="col-sm-1">
                            <i class="bi bi-images" data-bs-toggle="modal"
                            attr.data-bs-target="#modalproyectsang{{i}}" (click)="openImages(item.id)"></i>
                        </div>
                        <div class="col-sm-1">
                            <a [href]="item.url" target="_blank"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-white">
                    <div class="row">
                        <div class="col-sm-12 pb-4 d-flex justify-content-center">
                            <img width="17%" src="https://firebasestorage.googleapis.com/v0/b/cv-neyder.appspot.com/o/media%2FPHP-logo.svg.png?alt=media&token=d03c5a79-511e-4e26-a7e0-6737808cf896" alt="">
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of php$ | async; index as i">
                        <div class="col-sm-10">
                            <li>{{item.title}}</li>
                        </div>
                        <div class="col-sm-1">
                            <i class="bi bi-images" data-bs-toggle="modal"
                            attr.data-bs-target="#modalproyectsphp{{i}}" (click)="openImages(item.id)"></i>
                        </div>
                        <div class="col-sm-1">
                            <a [href]="item.url" target="_blank"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal php-->
<div *ngFor="let item of php$ | async ; index as i" class="modal fade" id="modalproyectsphp{{i}}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-100">
        
        <div id="carouselExampleControlsproyects{{i}}" class="carousel slide carousel-fade" data-bs-ride="carousel" >
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img *ngFor="let item of proyectsIndi$ | async" [src]="item.img2" class="d-block w-100" [alt]="item.img1">
            </div>
            <div class="carousel-item active">
              <img *ngFor="let item of proyectsIndi$ | async" [src]="item.img1" class="d-block w-100" [alt]="item.img1">
            </div>
            <div class="carousel-item">
              <img *ngFor="let item of proyectsIndi$ | async" [src]="item.img2" class="d-block w-100" [alt]="item.img2">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" attr.data-bs-target="#carouselExampleControlsproyects{{i}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" attr.data-bs-target="#carouselExampleControlsproyects{{i}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal ang-->
<div *ngFor="let item of ang$ | async ; index as i" class="modal fade" id="modalproyectsang{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-100">
        
        <div id="carouselExampleControlsproyectss{{i}}" class="carousel slide carousel-fade" data-bs-ride="carousel" >
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img *ngFor="let item of proyectsIndi$ | async" [src]="item.img1" class="d-block w-100" [alt]="item.img1">
            </div>
            <div class="carousel-item">
              <img *ngFor="let item of proyectsIndi$ | async" [src]="item.img2" class="d-block w-100" [alt]="item.img2">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" attr.data-bs-target="#carouselExampleControlsproyectss{{i}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" attr.data-bs-target="#carouselExampleControlsproyectss{{i}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>