<script src="https://kit.fontawesome.com/fc596df623.js" crossorigin="anonymous"></script>

<h2>Experience</h2>

<div class="timeline">

	<!--first-->
	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1" data-aos="fade-down" data-aos-duration="1500">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date d-flex">
			Docente
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				Colegio San Mateo Apostol
			</div>
			<div class="timeline__event__description">
				<p>Llevo 9 años desempeñandome como docente del area de informatica y tecnologia fomentando la creacion de proyectos de ingenieria para competir a nivel nacional, pudiendo participar en universidades de distintas partes del pais y concursos como la WRO y Expociencia</p>
			</div>
		</div>
	</div>

	<!--second-->

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type2"  data-aos="fade-down" data-aos-duration="1500">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			Ingeniero
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Consorcio Smart Grid Casanare
			</div>
			<div class="timeline__event__description">
				<p>En dos años desempeñe el cargo de ingeniero de apoyo en comunicaciones en un cosorcio con una empresa de energia donde realice, mantenimientos, instalaciones, diagnosticos e informes a elementos de comunicaciones en subestaciones electricas</p>
			</div>
		</div>
	</div>

	<!--third-->

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type3" data-aos="fade-down" data-aos-duration="1500">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			Desarrollador
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Web Developer - Freelancer
			</div>
			<div class="timeline__event__description">
				<p>Diseño mi propio software bajo la demanda de las empresas, ajustado a la medida de las necesidades, desde software de inventarios, contables, de administracion y ventas, todos escalables a mejoras y actualizaciones</p>
			</div>

		</div>
	</div>


</div>